@use "sass:map";
@use "sass:list";
@use "sass:meta";
@use "../01_utilities/index.scss" as utilidades;

:root {

    @each $key, $value in utilidades.$colors {
        --mlt-sys-colors-#{$key}: #{list.nth($value, 6)};

        @for $i from 1 through list.length($value) {
            --mlt-sys-colors-#{$key}-#{($i)-1}: #{list.nth($value, $i)};
        }
    }
}

@each $key, $value in utilidades.$colors {
    @for $i from 1 through list.length($value) {
        .g--colors-#{$key}-#{($i)} {
            color: var(--mlt-sys-colors-#{$key}-#{$i}) !important;
        }
        .g--bg-colors-#{$key}-#{($i)} {
            background-color: var(--mlt-sys-colors-#{$key}-#{$i}) !important;
        }
    }
}

$base-colors: (
    'primary': var(--mlt-sys-colors-red-7),
    'secondary': var(--mlt-sys-colors-red-5),
    'success': var(--mlt-sys-colors-green),
    'danger': var(--mlt-sys-colors-red),
    'warning-light': #FFC107,
    'warning-dark': var(--mlt-sys-colors-yellow),
    'info': var(--mlt-sys-colors-cyan),
    'light': #fffefa,
    'dark': var(--mlt-sys-colors-gray-8),
);

:root{
    @each $key, $value in $base-colors {
        --mlt-sys-colors-#{$key}: #{$value};
    }
}

@each $key, $value in $base-colors {
    .g--colors-#{$key} {
        color: #{$value} !important;
    }

    .g--bg-colors-#{$key} {
        background-color: #{$value} !important;
    }

};