@use "sass:list";
@use "../01_utilities/index.scss"as utilidades;

:root {
    @for $i from 1 through list.length(utilidades.$paddings) {
        $padding: list.nth(utilidades.$paddings, $i);
        --mlt-sys-padding-#{$i}:#{$padding};
    }
}

@for $i from 1 through list.length(utilidades.$paddings) {
    $padding: list.nth(utilidades.$paddings, $i);

    .g--padding-#{$i} {
        padding: var(--mlt-sys-padding-#{$i});
    }
}