<section id="promos" class="promo">
  <div class="promo__container">
    <div class="promo__content">
      <div class="promo__text">
        <span class="promo__badge"> Ofertas Limitadas </span>
        <h2 class="promo__title">Festival de la Langosta</h2>
        <div class="promo__features">
          <div class="promo__feature">
            <div class="promo__feature-icon">
              <i class="fa-solid fa-clock-rotate-left"></i>
            </div>
            <h4 class="promo__feature-title">Tiempo Limitado</h4>
            <p class="promo__feature-text">Solo Jueves</p>
          </div>

          <div class="promo__feature">
            <div class="promo__feature-icon">
              <i class="fa-regular fa-star"></i>
            </div>
            <h4 class="promo__feature-title">Calidad Premium</h4>
            <p class="promo__feature-text">Selección del Chef</p>
          </div>

          <div class="promo__feature">
            <div class="promo__feature-icon">
              <i class="fa-solid fa-arrow-trend-up"></i>
            </div>
            <h4 class="promo__feature-title">Mejor Precio</h4>
            <p class="promo__feature-text">-20% Descuento</p>
          </div>
        </div>

        <button class="promo__button">Reservar Mesa Ahora</button>
      </div>

      <div class="promo__image-wrapper" #promoImage>
        <div class="promo__image-decoration"></div>

        <img
          [src]="promoImageUrl"
          alt="Lobster Special"
          class="promo__image"
        />
      </div>
    </div>
  </div>
</section>
