<div class="cart-item-card" [class.cart-item-card--order-item]="isOrderItem">
    <div class="cart-item-card__img-container">
        <img class="cart-item-card__img cart-item-card__img--order-item" src="{{cartItem.image}}">
    </div>
    <div class="cart-item-card__right-container">
        <div class="cart-item-card__text-block">
            <p class="cart-item-card__name">{{cartItem.name}}</p>
            <div class="cart-item-card__prices">
                @if (cartItem.basePrice != cartItem.finalPrice) {
                <div class="cart-item-card__price cart-item-card__price--base">{{cartItem.basePrice*cartItem.quantity | currency}}</div>
                }
                <div class="cart-item-card__price cart-item-card__price--final">{{cartItem.finalPrice*cartItem.quantity | currency}}</div>
            </div>
        </div>
    </div>

        <div class="cart-item-card__buttons-container">
            @if(showButtons){
                @if(cartItem.quantity > 1){
                    <button c-button (click)="decreaseQuantity()">-</button>
                }@else{
                    <button c-button (click)="decreaseQuantity()">🗑</button>
                }
            }
            <div>{{cartItem.quantity}}</div>
            @if(showButtons){
                <button c-button (click)="increaseQuantity()">+</button>
            }
        </div>
</div>