<div class="p-home">
  <app-hero></app-hero>
  <section class="p-home__favorites">
    <div class="p-home__container">
      <div class="p-home__header">
        <h2 class="p-home__title">Favoritos de la Casa</h2>
        <p class="p-home__subtitle">Una muestra de nuestra cocina.</p>
      </div>

      <div class="p-home__menu-grid">
        @for (item of menuItems; track item.title) {
          <div class="p-home__menu-item">
            <div class="p-home__menu-overlay"></div>
            <img [src]="item.img" [alt]="item.title" class="p-home__menu-image" />
            <div class="p-home__menu-info">
              <h3 class="p-home__menu-title">{{ item.title }}</h3>
              <div class="p-home__menu-details">
                <span class="p-home__menu-price">{{ item.price }}</span>
                <span class="p-home__menu-separator"></span>
                <i class="fa-solid fa-star p-home__menu-star"></i>
              </div>
            </div>
          </div>
        }
      </div>
      <div class="p-home__cta">
        <a [routerLink]="'/menu'" class="p-home__button">
          Ver Carta Completa <i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </section>
  <app-promo></app-promo>
</div>
