<div class="container">
    @if (product.discountPercentage != 0) {
        <div class="discount-badge">
            -{{(product.discountPercentage/100) |
            percent}}
        </div>
    }
    <div class="product-card">
        <img class="product-card__img" src="{{product.image}}">
        <div class="product-card__text-block">
            <p class="product-card__name">{{product.name}}</p>
            <div class="product-card__prices">
                @if (product.discountPercentage == 0) {
                    <span class="product-card__price product-card__price--final">{{product.finalPrice | currency}}</span>
                }
                @if (product.discountPercentage != 0) {
                    <div class="product-card__prices">
                        <div class="product-card__price product-card__price--base">{{product.basePrice | currency}}</div>
                        <div class="product-card__price product-card__price--final">{{product.finalPrice | currency}}</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>