<div class="product-card">
  <div class="product-card__image-container">
    <div class="product-card__image-overlay"></div>
    <img [src]="product.image" [alt]="product.name" class="product-card__image">
    
    <div class="product-card__price-badge">
      ${{ product.finalPrice.toFixed(2) }}
    </div>
  </div>
  
  <div class="product-card__content">
    <h3 class="product-card__title">{{ product.name }}</h3>
    <div class="product-card__ingredients">
      @for (ingredient of product.ingredients.slice(0, 3); track ingredient.id) {
        <span class="product-card__ingredient-tag">{{ ingredient.name }}</span>
      }
    </div>
    
    @if (showButton) {
      <button class="product-card__button" (click)="addToCart()">
        <i class="fa-solid fa-plus"></i> Añadir
      </button>
    }
  </div>
</div>