.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.discount-badge {
    --dicount-badge-font-family-default: var(--mlt-sys-font-family-default);
    --dicount-badge-font-size-default: var(--mlt-sys-font-size-4);

    position: absolute;
    background-color: var(--mlt-sys-colors-success);
    color: white;
    font-family: var(--dicount-badge-font-family-default);
    font-size: var(--dicount-badge-font-size-default);
    padding: 5px 10px;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    z-index: 2;
}

.product-card {
    --product-card-font-size-default: var(--mlt-sys-font-size-3);
    --product-card-font-size-big: var(--mlt-sys-font-size-4);
    --product-card-font-size-small: var(--mlt-sys-font-size-2);
    --product-card-font-size-prices: var(--mlt-sys-font-size-4);

    --product-card-font-family-default: var(--mlt-sys-font-family-default);
    --product-card-font-family-firmas: var(--mlt-sys-font-family-firmas);
    --product-card-font-family-prices: var(--mlt-sys-font-family-titulo);

    --product-card-box-shadow: var(--mlt-sys-box-shadow-1);
    --product-card-background-color: bisque;
    --product-card-min-width: 30rem;
    --product-card-min-height: 6rem;
    --product-card-discount-badge-offset: 10px;
    --product-card-radius: 0.5rem;

    --product-card-img-width: 40%;

    --product-card-text-block-padding-y: 0.75rem;
    --product-card-text-block-padding-x: 1rem;

    --product-card-min-separation-between-text-block-and-price: 0.5rem;

    --product-card-prices-gap: 0.5rem;

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-width: var(--product-card-min-width);
    min-height: var(--product-card-min-height);
    height: 100%;
    background-color: var(--product-card-background-color);
    border-radius: var(--product-card-radius);
    box-shadow: var(--product-card-box-shadow);
    margin-left: var(--product-card-discount-badge-offset);
    overflow: hidden;

    &__img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__img-wrapper {
        flex: 0 0 40%;
        width: var(--product-card-img-width);
        position: relative;
        overflow: hidden;
        min-width: 0;
        align-self: stretch;
    }

    &__right-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
        padding-top: var(--product-card-text-block-padding-y);
        padding-bottom: var(--product-card-text-block-padding-y);
        padding-right: var(--product-card-text-block-padding-x);
        padding-left: var(--product-card-text-block-padding-x);
    }

    &__text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        overflow-wrap: anywhere;
        color: var(--mlt-sys-colors-dark);
        margin-bottom: var(--product-card-min-separation-between-text-block-and-price);
    }

    &__name {
        width: 100%;
        font-family: var(--product-card-font-family-default);
        font-size: var(--product-card-font-size-big);
        font-weight: 600;
    }

    &__ingredients {
        font-family: var(--product-card-font-family-default);
        font-size: var(--product-card-font-size-default);
        text-align: start;
    }

    &__prices {
        height: auto;
        margin-top: auto;
        display: flex;
        flex-direction: row;
        gap: var(--product-card-prices-gap);
    }

    &__price {
        font-family: var(--product-card-font-family-prices);

        &--final {
            font-size: var(--product-card-font-size-big);
            font-weight: 500;
        }

        &--base {
            font-size: var(--product-card-font-size-default);
            text-decoration: line-through;
            color: var(--mlt-sys-colors-red);
        }

        &--discount {
            font-size: var(--product-card-font-size-default);
            color: var(--mlt-sys-colors-fresh-green-5);
        }
    }

    &--clickable {
        cursor: pointer;
    }
}