<div class="p-orders">
    <div class="p-orders__header">
        <h1 class="p-orders__title">Mis Pedidos</h1>
    </div>
    @if(orders.length == 0) {
        <p class="p-orders__no-orders">No has realizado ningún pedido aún.</p>
    }
    <div class="p-orders__orders-container">
        @for (order of orders; track $index) {
            <div class="p-orders__order-card">
                <div class="p-orders__items-container">
                    <div class="p-orders__items-fade-top"></div>
                    <div class="p-orders__scrollable-container">
                        @for (item of order.items; track $index) {
                        <cart-element class="p-orders__order-item" [isOrderItem]="true"
                            [cartItem]="cartItemMapper.cartItemResponseToCartItem(item)"></cart-element>       }
                    </div>
                    <div class="p-orders__items-fade-bottom"></div>
                </div>
                <p class="p-orders__price">Precio total: {{order.totalPrice | currency}}</p>
                <p class="p-orders__date">{{order.orderDate | date}}</p>
            </div>
        }
    </div>
</div>