.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}

.ng-touched:not(form) {
    background-color: rgb(231, 231, 231);
}

.ng-untouched:not(form) {
    background-color: white;
}

.ng-dirty:not(form) {
    font-weight: 500;
}

.ng-pristine:not(form) {
    font-weight: normal;
}

.payment-page {
    --payment-page-font-family-default: var(--mlt-sys-font-family-default);
    --payment-page-font-size-default: var(--mlt-sys-font-size-3);
    --payment-page-font-size-title: var(--mlt-sys-font-size-7);
    --payment-page-font-size-bigger: var(--mlt-sys-font-size-4);
    --payment-page-font-size-price: var(--mlt-sys-font-size-6);
    --payment-page-font-size-small: var(--mlt-sys-font-size-2);
    --payment-page-font-size-button: var(--mlt-sys-font-size-6);

    --payment-page-padding: 2rem 1rem;
    --payment-page-max-width: 900px;

    --payment-page-section-padding: 2rem;
    --payment-page-section-separation: 1px solid var(--mlt-sys-colors-gray-1);
    --payment-page-section-title-margin-bottom: 1.5rem;

    --payment-page-items-list-gap: .75rem;
    --payment-page-total-price-margin-top: 1.5rem;

    --payment-page-form-padding: 0.75rem;
    
    --payment-page-form-group-gap: 1rem;
    --payment-page-form-row-gap: 1rem;
    --payment-page-form-input-group-gap: 0.5rem;

    --payment-page-form-control-border: 1px solid var(--mlt-sys-colors-gray-2);
    --payment-page-form-control-border-radius: 0.5rem;

    --payment-page-submit-button-margin-top: 1rem;
    --payment-page-submit-button-padding: 16px;

    --payment-page-alert-margin-top: 0.25rem;
    --payment-page-alert-margin-bottom: 1rem;
    --payment-page-alert-padding: 0.5rem;
    --payment-page-alert-background: transparent;
    --payment-page-alert-color:  var(--mlt-sys-colors-red);
    --payment-page-alert-border: 1px solid var(--payment-page-alert-color);
    --payment-page-alert-border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    padding: var(--payment-page-padding);
    min-height: 100vh;
    font-family: var(--payment-page-font-family-default);

    &__container {
        width: 100%;
        max-width: var(--payment-page-max-width);
    }

    &__section {
        padding: var(--payment-page-section-padding);

        &--middle {
            border-top: var(--payment-page-section-separation);
            border-bottom: var(--payment-page-section-separation);
        }
    }

    &__section-title {
        font-size: var(--payment-page-font-size-title);
        font-weight: 600;
        margin-bottom: var(--payment-page-section-title-margin-bottom);
    }

    &__items-list {
        display: flex;
        flex-direction: column;
        gap: var(--payment-page-items-list-gap);
    }

    &__total-price{
        margin-top: var(--payment-page-total-price-margin-top);
        font-size: var(--payment-page-font-size-price);
    }

    &__form-group {
        display: flex;
        flex-direction: column;
        gap: var(--payment-page-form-group-gap);
    }

    &__form-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--payment-page-form-row-gap);
        
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }
    }

    &__form-input-group {
        display: flex;
        flex-direction: column;
        gap: var(--payment-page-form--input-group-gap);
    }

    &__form-label {
        font-weight: 500;
        font-size: var(--payment-page-font-size-bigger);
    }

    &__form-control {
        display: block;
        width: 100%;
        padding: var(--payment-page-form-padding);
        font-size: var(--payment-page-font-size-default);
        font-weight: 400;
        appearance: none;
        border: var(--payment-page-form-control-border);
        border-radius: var(--payment-page-form-control-border-radius);
    }

    &__alert {
        position: relative;
        margin-top: var(--payment-page-alert-margin-top);
        margin-bottom: var(--payment-page-alert-margin-bottom);
        padding: var(--payment-page-alert-padding);
        color: var(--payment-page-alert-color);
        background-color: var(--payment-page-alert-background);
        border: var(--payment-page-alert-border);
        border-radius: var(--payment-page-alert-border-radius);
        font-size: var(--payment-page-font-size-small);
    }

    &__submit-btn {
        padding: var(--payment-page-submit-button-padding);
        font-size: var(--payment-page-font-size-button);
        margin-top: var(--payment-page-submit-button-margin-top);
    }

}