.news-card {
    --news-card-font-size-default: var(--mlt-sys-font-size-3);
    --news-card-font-size-big: var(--mlt-sys-font-size-4);
    --news-card-font-size-small: var(--mlt-sys-font-size-2);
    --news-card-font-size-prices: var(--mlt-sys-font-size-4);

    --news-card-font-family-default: var(--mlt-sys-font-family-default);

    --news-card-padding: var(--mlt-sys-padding-8);
    --news-card-box-shadow: var(--mlt-sys-box-shadow-3);
    --news-card-margin: 10px;

    --news-card-background-color: var(--mlt-sys-colors-primary);

    max-width: 35rem;
    min-width: 25rem;
    border: 1px solid #dddddd;
    border-radius: 1.5rem;
    overflow: hidden;
    font-family: var(--news-card-font-family-default);
    font-size: var(--news-card-font-size-default);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: var(--news-card-margin);

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
        max-height: 160pt;
        min-height: 70pt;
    }

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--news-card-background-color);
        padding: 1rem;
        gap: 2rem;
    }

    &__text-block {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        color: var(--mlt-sys-colors-light);
    }

    &__title {
        font-size: 1.5em;
    }


}