<header class="navbar">
  <div class="navbar__container">
    <a routerLink="/" class="navbar__brand">
      <img class="navbar__brand-logo" src="\images\lobster-550x550-white.png" alt="logo" />
      <span class="navbar__brand-text">Crustáceo Cascarudo</span>
    </a>
    <nav class="navbar__nav">
      <a routerLink="/" [class]="isActive('/') ? 'navbar__link navbar__link--active' : 'navbar__link'">Inicio</a>
      <a routerLink="/menu" [class]="isActive('/menu') ? 'navbar__link navbar__link--active' : 'navbar__link'">Carta</a>
      <a routerLink="/reservation"
        [class]="isActive('/reservation') ? 'navbar__link navbar__link--active' : 'navbar__link'">Reservar</a>
    </nav>
    <div class="navbar__actions">
      <a routerLink="/reservation" class="navbar__button navbar__button--primary"> Reserva </a>

      <a routerLink="/delivery" class="navbar__button navbar__button--secondary">
        Pide a domicilio
      </a>

      <div class="navbar__user-actions">
        <button (click)="onLogin()" class="navbar__icon-button">
          <i class="fa-regular fa-user"></i>
        </button>
        @if (showLogOutPanel && authService.isLoggedIn()) {
          <div class="logout-panel">
            <button class="logout-button" (click)="logOut()">Cerrar sesión</button>
          </div>
        }

        <a routerLink="/cart" class="navbar__icon-button navbar__icon-button--cart">
          <i class="fa-solid fa-cart-shopping"></i>

          @if (cartCount() > 0) {
          <span class="navbar__badge">
            {{ cartCount() }}
          </span>
          }
        </a>
      </div>
    </div>
  </div>
</header>