<nav class="myNavbar">
    <div class="myNavbar__brand">
        <div class="myNavbar__image-container">
            <img src="/images/lobster-550x550-white.png" class="myNavbar__image" alt="Logo">
        </div>
        <div class="myNavbar__brand__name" [routerLink]="['/home']">
            <span>Crustaceo</span>
            <span>Cascarudo</span>
        </div>
    </div>
    <div class="myNavbar__menu">
        <ul class="myNavbar__list">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/menu">Carta</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/deals">Promociones</a>
            </li>

        </ul>
        <div style="display: flex;">
            <button c-button variant="outline" colors="highlight" shadowType="bright" [hovered]="hoveredReserva"
            (mouseenter)="hoveredReserva = true" (mouseleave)="hoveredReserva = false" [routerLink]="['/reservation']">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="calendar_today"></mat-icon>
                Reserva
            </button>
            <button c-button variant="outline" colors="highlight" shadowType="bright" [hovered]="hoveredADomicilio"
            (mouseenter)="hoveredADomicilio = true" (mouseleave)="hoveredADomicilio = false" [routerLink]="['/delivery']">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="calendar_today"></mat-icon>
                Pide a domicilio
            </button>
            <div (mouseenter)="showLogOutPanel = true" (mouseleave)="showLogOutPanel = false">
                <img src="/images/user-transparent-600x600-white.png" class="myNavbar__image" (click)="logOut()"
                    alt="Cerrar Sesión">
                @if (showLogOutPanel) {
                <div class="logout-panel">
                    <button class="logout-button">Log Out</button>
                </div>
                }
            </div>
        </div>
    </div>
</nav>